* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    width: 60%;
    position: relative;
    background: url(images/background.png);
    line-height: 0;
}

.image-style {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}




